
    <div class="collapsible collapsible--expanded">
        <header class="collapsible__header">
            <h2 class="collapsible__heading">Item 1</h2>

            <svg class="icon icon--grey collapsible__chevron">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>

        </header>
        <div class="collapsible__content">
            Lorem ipsum dolor sit amet consectetur adipisdicing elit. Totam dolorem earum pariatur itaque nisi odit quae
            nam, dignissimos velit enim!
        </div>
    </div>
